@import "tailwindcss";
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --main-color: rgb(248, 83, 24);
  --main-font: "Dosis", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --theme-white: "#ffffffc2";
}
.cover {
  background-color: #000000b0;
}
.h1 {
  font-family: "Dosis", sans-serif;
}
